{% if page.bg %}
    <header class="header has-cover" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
        <div class="inner">
            <a class="header-title" href="{{ site.url }}">

                {%if site.portrait %}
                <figure class="header-image">
                    <img src="{{ site.url }}{{ site.images }}/{{ site.portrait }}" alt="{{ site.title }}" />
                </figure>
                {% endif %}

                <h1 class="header-name">{{site.title}}</h1>
                {% if site.description %}
                    <span class="header-description">{{site.description}}</span>
                {% endif %}
            </a>

            <div class="social-media">
                <a href="https://twitter.com/{{ site.twitter_username }}" onclick="window.open(this.href);return false;">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.github.com/{{ site.github_username }}" onclick="window.open(this.href);return false;">
                    <i class="fa fa-github"></i>
                </a>
                <a href="{{ site.linkedin_url }}" onclick="window.open(this.href);return false;">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
        {% if site.cover %}
            <div class="header-cover" style="background-image: url({{ site.url }}{{ site.images }}/{{ site.cover }})"></div>
        {% endif %}
    </header>
{% else %}
    <header class="header" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
        <div class="inner">
            <a class="header-title" href="{{ site.url }}">
                <h1 class="header-name">{{site.title}}</h1>
                {% if site.description %}
                <span class="header-description">{{site.description}}</span>
                {% endif %}
            </a>
        </div>
    </header>
{% endif %}