<div id="menu" data-target="menu">
  <div class="menu-header">
    <span class="menu-label">Menu</span>
    <a class="menu-close" data-action="menu" data-target="menu"></a>
  </div>
  <ul class="menu-list">
    <li class="menu-list-item">
      <a class="{% if page.url == '/' %}current{% endif %}" href="{{site.url}}">Home</a>
    </li>
    {% for p in site.navigation_pages %}
    <li class="menu-list-item">
      <a class="{% if p.url == page.url %}current{% endif %}" href="{{site.url}}{{p.url}}">{{ p.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="overlay"></div>