---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>

<section id="wrapper">
  <div id="ajax-container">
    <nav id="nav" class="nav">
      <div class="nav-logo">
        <a href="{{ site.url }}">
          {%if site.logo %}
          <img src="{{ site.logo }}" alt="Logo" />
          {%else %}
          <span class="name">{{ site.title }}</span>
          {% endif %}

        </a>
      </div>
      <div class="nav-menu">
        {% if site.rss %}
        <a class="rss" href="{{ site.rss }}"><i class="icon-rss"></i></a>
        {% endif %}
        {% if site.navigation %}
        <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
        {% endif %}
      </div>
    </nav>

    <!-- Populate here the content of the each page -->
    {{ content }}

    <div id="body-class" style="display: none;" class="home-template"></div>

    {% include footer.html %}
    {% if site.navigation %}
      {% include navigation.html %}
    {% endif %}
  </div>
</section>

<script type="text/javascript" src="{{ site.url }}/assets/js/dependencies.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/script.js"></script>

</body>
</html>
